<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <link rel="icon" href="/assets/compass-solid.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</head>
<body id="actualBody"> 
    <div class="contentHolder fixed-top ">
        <div class="widthControl">
            <%- include("../includes/allListingsNavbar.ejs") %>  
            <%- include("../includes/filterbar.ejs") %>
        </div>
    </div>
    <div class="contentHolder main">
        <div class="widthControl">
            <div class="px-xs-0 px-sm-1 px-md-2 px-lg-4" id="boilerplateContainer" style="padding-top: 180px;">
                <%- include("../includes/flash.ejs") %>
                <%- body -%>
            </div>
        </div>
    </div>
    <div class="contentHolder">
        <div class="widthControl">
            <%- include("../includes/footer.ejs") %>
        </div>
    </div>
    <script src="/js/filterscroll.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>